black==24.4.2
click==8.1.7
environs==9.5.0
grpcio==1.63.0
marshmallow==3.21.3
milvus-lite==2.4.8
mypy-extensions==1.0.0
numpy==2.0.0
packaging==24.1
pandas==2.2.2
pathspec==0.12.1
platformdirs==4.2.2
protobuf==5.27.2
pymilvus==2.4.4
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
six==1.16.0
tomli==2.0.1
tqdm==4.66.4
typing_extensions==4.12.2
tzdata==2024.1
ujson==5.10.0
